@(county:String, monitors: Seq[Monitor])
<p style="margin:0px"><span style="font-family:微軟正黑體,sans-serif">@county：@{monitors.length}台</span><br></p>
<table cellpadding="2" cellspacing="2" border="1"
       style="font-size:10pt;font-family:Verdana,Arial,Helvetica,sans-serif;width:100%;border-collapse:collapse;border:1px solid black">
    <tbody>
    <tr>
        <td style="width:70px">簡碼</td>
        <td style="width:70px">
            <div><span
                    style="font-size:6.0pt;font-family:&quot;\005fae\008edf\006b63\009ed1\009ad4&quot;,sans-serif">代碼</span><br>
            </div>
        </td>
        <td style="width:70px">
            <div><span
                    style="font-size:6.0pt;font-family:&quot;\005fae\008edf\006b63\009ed1\009ad4&quot;,sans-serif">路名</span><br>
            </div>
        </td>
        <td style="width:70px">
            <div><span
                    style="font-size:5.0pt;font-family:&quot;\005fae\008edf\006b63\009ed1\009ad4&quot;,sans-serif">位置</span><br>
            </div>
        </td>
        <td style="width:70px">
            <div><span
                    style="font-size:6.0pt;font-family:&quot;\005fae\008edf\006b63\009ed1\009ad4&quot;,sans-serif">經度</span><br>
            </div>
        </td>
        <td style="width:70px">
            <div><span
                    style="font-size:6.0pt;font-family:&quot;\005fae\008edf\006b63\009ed1\009ad4&quot;,sans-serif">緯度</span><br>
            </div>
        </td>
        <td style="width:138.429px">
            <div>超連結</div>
        </td>
    </tr>
    @for(m <- monitors){
    <tr>
        <td style="width:70px">
            @{m.shortCode}
        </td>
        <td style="width:70px">
            @{m.code}
        </td>
        <td style="width:70px">
            @{m.sensorDetail.get.roadName}
        </td>
        <td style="width:70px">
            @{m.sensorDetail.get.locationDesc}
        </td>
        <td style="width:70px">
            @{m.location.get(0)}
        </td>
        <td style="width:70px">
            @{m.location.get(1)}
        </td>
        <td style="width:138.429px">
            <a href="https://maps.google.com?q=@{m.location.get(1)},@{m.location.get(0)}" target="_blank">google map連結</a>
        </td>
    </tr>
    }
    </tbody>
</table>